{% extends "users_nusrat/base.html" %}


{% block title %}
Password Changed | IIEIH iPortal
{% endblock %}


{% block auth_content %}

<h2>
    Password Changed
</h2>

<p class="auth-subtitle">
    Your password has been successfully updated.
</p>


<div class="success-message">

    <i class="bi bi-check-circle-fill"></i>

    <span>
        Your password has been changed successfully.
    </span>

</div>


<a
    href="{% url 'users_nusrat:login' %}"
    class="auth-btn"
    style="display: block; text-align: center; text-decoration: none;">

    <i class="bi bi-box-arrow-in-right"></i>

    Go to Login

</a>


<div class="footer-text">

    Eye Hospital Management Reporting System

</div>

{% endblock %}