{% if messages %} 
    {% for message in messages %} 

        <div 
            class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags|default:'info' }}{% endif %} alert-dismissible fade show auto-dismiss-alert" 
            role="alert" 
        > 
            {{ message }} 

            <button 
                type="button" 
                class="btn-close" 
                data-bs-dismiss="alert" 
                aria-label="Close" 
            ></button> 
        </div> 

    {% endfor %} 
{% endif %}


<script>
    setTimeout(function () {
        document.querySelectorAll('.auto-dismiss-alert').forEach(function (alert) {
            alert.classList.remove('show');

            setTimeout(function () {
                alert.remove();
            }, 150);
        });
    }, 3000); // 3 seconds
</script>